
@{
    ViewBag.Title = "AltaNegocio";
}

<h2><strong>¿Qué tipo de negocio tenés?</strong></h2>

<table cellspacing=15>
    <tr>
        <td><input type="button" value="HOSPEDAJE" width=200 height=200</td>
        <td><input type="button" value="COMERCIO" width=200 height=200></td>
    </tr>
</table>

