@{
    ViewBag.Title = "Hospedajes!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table border="1">
    <tr>
        <td>
            <img src="~/Images/hospedaje1.jpg" alt="hospedaje1" class="imagenHospedaje"/>
        </td>
        <td>
            CARACTERÍSTICAS
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/hospedaje2.png" alt="hospedaje1" class="imagenHospedaje" />
        </td>
        <td>
            CARACTERÍSTICAS
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/hospedaje3.jpg" alt="hospedaje1" class="imagenHospedaje" />
        </td>
        <td>
            CARACTERÍSTICAS
        </td>
    </tr>
</table>
