@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>

    <script type="text/javascript">
        function redireccion() {
            window.location = "Index";
        }
    setTimeout("redireccion()", 3500);
    </script>
</head>
<body>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p align="center" class="Estilo1"><strong>TU USUARIO NO TIENE PERMISOS PARA ACCEDER A ESTA P&Aacute;GINA.</strong></p>
    <p align="center" class="Estilo1"><strong>EN BREVE SER&Aacute;S REDIRECCIONADO...  </strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</body>
</html>